<div class="midde-left">
  <form class="example-container" [formGroup]="messageForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" id="new-user" type="text" formControlName="sender">
      <mat-error *ngIf="showError('sender')">
        {{ messageForm.get('sender').errors | json }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Asunto" id="new-user" type="text" formControlName="subject">
      <mat-error *ngIf="showError('sender')">
         {{ messageForm.get('subject').errors | json}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Body" id="new-user" type="text" formControlName="body"></textarea>
    </mat-form-field>
    <button mat-icon-button color="primary" type="submit" style="align-content: center;" [disabled]="!messageForm.valid">
      <i class="fa fa-envelope fa-stack-5x"></i>
    </button>
  </form>
  <ul class="blockquote">
    <p>
      {{messageForm.errors | json}}
    </p>
    <p>
      {{messageForm.valid | json}}
    </p>
    <p>
      {{messageForm.value | json}}
    </p>
  </ul>

</div>
