<div class="midde-left">
  <form class="example-container" [formGroup]="operationForm" (ngSubmit)="onSubmit()">
    <app-input [form]="operationForm" label="Fecha" type="date" field="date"></app-input>
    <app-input [form]="operationForm" label="Importe" type="number" field="amount"></app-input>
    <app-input [form]="operationForm" label="Tipo de Operación" type="number" field="operationType"></app-input>
    <app-textarea [form]="operationForm" label="Descripción" type="string" id="description" name="description" field="description"></app-textarea>
    <button mat-button color="primary" type="submit" [disabled]="!operationForm.valid">
      Enviar
    </button>
  </form>
  <ul class="blockquote">
    <p>
      {{operationForm.errors | json}}
    </p>
    <p name="form-valid">
      {{operationForm.valid | json}}
    </p>
    <p>
      {{operationForm.value | json}}
    </p>
  </ul>

</div>
