<div class="topbar">
  <mat-toolbar color="primary">
    <span>OpenCanarias</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [routerLink]="[ '' ]">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="[ 'users' ]">
      <mat-icon>perm_identity</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="[ '/cash' ]" >
      <i class="fa fa-money fa-2x" aria-hidden="true"></i>
    </button>
    <button mat-icon-button [routerLink]="[ '/cars' ]">
      <i class="fa fa-car fa-2x" aria-hidden="true"></i>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="appMenuAbout">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu #appMenuAbout="matMenu">
    <button mat-menu-item [routerLink]="[ '/about' ]" routerLinkActive="active">
      <mat-icon>info</mat-icon>
      <span translate>About</span>
    </button>
  </mat-menu>
</div>
