/* You can add global styles to this file, and also import other style files */
@import "~mdi/css/materialdesignicons.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "variables";
@import "~font-awesome/scss/font-awesome";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~primeng/resources/primeng.css";
@import "~primeng/resources/themes/omega/theme.css";


.blockquote {
  border-left: 0.3rem solid #d1d1d1;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 1.5rem;
}

.blockquote p {
  color: #9c9393
}

.pointer {
  cursor: pointer;
}
